#commentTitle {
  font-size: 20px;
}

#aside-user-account-template {
  text-align: center;
  background-color: white;
  width: 90%;
/*  border-radius: 1vw;*/
  height: 19vh;
  font-size: 10px;
  margin: 1vh;
/*  margin-top: -8vh;
  margin-bottom: 5vh;*/
  border: 1px solid black;
  overflow: none;
}

#aside-user {
/*  height: 50vh;*/
  overflow: scroll;
/*  position: fixed;*/
}
