#commentTitle {
  font-size: 20px;
}

#aside-user-account-template {
  text-align: center;
  background-color: white;
  width: 80%;
/*  border-radius: 1vw;*/
  height: 19vh;
  font-size: 10px;
  margin: 0px;
  margin-top: -8vh;
  margin-bottom: 5vh;
  border: 1px solid black;
}
