#createTopicForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

/*#createTopicForm input[type=text] {
  height: 2vh;
}*/

/*.createTopicForm input[type=text] {
  height: 2vh;
}

.createTopicForm input[type=textarea] {
  height: 6vh;
}*/

.topicInput {
  /*outline: none;*/
  border: none;
  width: 100%;
  height: 10vh;
}
