#createTopicForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

#createTopicForm input {
  font-family: 'Cabin Sketch', cursive;
  text-align: center;
}

#createTopicForm input[type=text] {

  height: 4vh;
  width: 26vw;
  border: 1px solid black;
}
