.comment-template {
  background-color: white;
  border-radius: 1vw;
  border: 2px black solid;
  width: 90vw;
  margin: 2vw;
  text-align: center;
  font-family: 'Lora', serif;
  padding: 1vw;
  font-family: 'Cabin Sketch', cursive;
}
