/*.comment-template {
  background-color: white;
  border-radius: 1vw;
  border: 2px black solid;
  width: 90vw;
  margin: 4vw;
  text-align: center;
  padding: 1vw;
  font-family: 'Cabin Sketch', cursive;
}*/

#showTrash {

}

#hideTrash {
  display: none;
}

.comment-template {
  background-color: #FFDEC4;
  border-radius: 1vw;
  border: 2px black solid;
  width: 80vw;
  margin: 1vw 9vh;
  text-align: center;
  padding: 1vw;
  font-family: 'Cabin Sketch', cursive;
}

.deleteButton {
  display: none;
}

.showDeleteButton {
  display: block;
}
