#hidden {
  left: -30vw;
  width: 30vw;
  height: 80vh;
  position: absolute;
  background-color: #FAEBD7;
  z-index: 5;
  transition: left 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#show {
  position: absolute;
  background-color: #FAEBD7;
  z-index: 5;
  left: 0;
  width: 30vw;
  height: 80vh;
  transition: left 1s ease-in;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/*#sidebar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60vh;
  margin-top: 65px;
  background-color: white;
}
*/


