#sidebarClosed {
  position: absolute;
  background-color: #FAEBD7;
  z-index: 5;
  left: -30vw;
  width: 30vw;
  height: 80vh;
  transition: left 1s ease-in-out;
}

#sidebarOpen {
  position: absolute;
  background-color: #FAEBD7;
  z-index: 5;
  left: 0;
  width: 30vw;
  height: 80vh;
  transition: left 1s ease-in;
}

#sidebar {
  display: flex;
  justify-content: center;
/*  align-content: space-between;*/
  flex-wrap: wrap;
  height: 60vh;
  margin-top: 65px;
}



