#create-comment-form-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
}

#comment-input {
  width: 100%;
  height: 20vh;
  border-radius: 5vw;
  text-align: center;
}

#submitCommentButton {
  width: 20vw;
  border-radius: 5vw;
}


