#create-comment-form-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  font-family: 'Cabin Sketch', cursive;
}

#comment-input {
  font-family: 'Cabin Sketch', cursive;
}

#comment-input {
  width: 71%;
  height: 20vh;
  border-radius: 1vw;
  text-align: center;
  margin: 1vh 2vw 0 9vw;
  border: 1px solid black;
}

#submitCommentButton {
  margin-top: 11vh;
  width: 14vw;
  border-radius: 1vw;
  font-family: 'Cabin Sketch', cursive;
  background-color: tomato;
  font-size: 24px;
}

#submitCommentButton:hover {
  color: white;
}
