#create-comment-form-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
}

#comment-input {
  width: 547px;
  height: 255px;
  border-radius: 15px 60px;
  text-align: center;
  opacity: .4;
}

#submitCommentButton {
  width: 20vw;
  border-radius: 5vw;
}


