#AsideLoginSignupContainer {
  z-index: 5;
  display: flex;
  align-items: center;
  height: 100%;
  position: absolute;
  transform: rotate(0deg);
  width: auto;
  right: 0;
  top: 0;
}

#hidden {
  transition: width 1s;
  background-color: #F5DEB3;
  width: 0vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}

#show {
  background-color: #F5DEB3;
  width: 50vw;
  height: 100%;
  transition: width 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}

#sidebarButton {
  border-radius: 500px;
  background-color: black;
  height: 5vw;
  width: 5vw;
  opacity: .8;
  color: white;
}

#sidebarButton:hover {
  opacity: 1;
}
