#hidden {
  left: 100vw;
  top: 0;
  width: 30vw;
  height: 100%;
  position: absolute;
  background-color: #F5DEB3;
  z-index: 5;
  transition: left 1s ease-in-out;
  display: flex;
  justify-content: center;
  /*align-content: center;*/
  flex-wrap: wrap;
  overflow:auto;
  overflow-x:hidden;
/*  margin-bottom: 100px;*/
}

#show {
  position: absolute;
  background-color: #F5DEB3;
  z-index: 5;
  left: 70vw;
  top: 0;
  width: 30vw;
  height: 100%;
  transition: left 1s ease-in;
  display: flex;
  justify-content: center;
  /*align-content: center;*/
  flex-wrap: wrap;
  overflow:auto;
  overflow-x:hidden;
}

h2 {
  margin: 0;
  padding: 0;
}

/*#sidebar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 60vh;
  margin-top: 65px;
  background-color: white;
}
*/


