.login-button button:hover {
  background-color: tomato;
}

.log-in h2 {
  margin-top: 9vh;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  color: tomato;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#loginButton {
  width: 70%;
  background-color: #DEB887;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Cabin Sketch', cursive;
}

#loginButton:hover {
  background-color: #D2B48C;
  color: white;
}

#login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#loginTitle {
  width: 100%;
  text-align: center;
  margin-top: -5vh;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  color: tomato;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login-css {
  width: 60%;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}
