.login-form-container {
  display: inline;
}

p {
  text-align: center;
}

input[type=text] {
  border: 1px solid black;
}

input[type=password] {
  border: 1px solid black;
}

.login-button {
display: flex;
justify-content: center;
}

.login-button button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: tomato;
}
