.topic-template {
    background-color: #000;
    color:#fff;
    opacity:.5;
    border-radius: 50px 0px;
    width: 26vw;
    height: 55vh;
    margin: 20px;
    text-align: center;
    padding: 2vw;
    font-family: 'Cabin Sketch', cursive;
    position: relative;
}


.topic-template:hover{
  opacity: 0.7;
  z-index: 60;
}

.topic-template button {
  width: 15vw;
  background-color: #DEB887;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Cabin Sketch', cursive;
  border: 1px solid black;
  position: absolute;
  top: 51vh;
  left: 100px;
  height: 6vh;
}

button:hover {
  background-color: #D2B48C;
  color: white;
}
