.topic-template {
  background-color: white;
  border-radius: 1vw;
  border: 2px black solid;
  width: 40vw;
  margin: 1.5vw;
  text-align: center;
  font-family: 'Lora', serif;
  padding: 2vw;
  font-family: 'Cabin Sketch', cursive;
}

#topicTitle {
  margin: 0;
  padding: 0;
}

#topicContent {
  margin: 0;
  padding: 0;
}

#topicDate {
  margin: 0;
  padding: 0;
}

#topicUser {
  margin: 0;
  padding: 0;
}

.hideButton {
  display: none;
}

.showButton {
  display: initial;
}
