#comments-container {
  width: 100vw;
}

#commentsButtonHolder {
  font-size: 30px;
  margin-left: 42vw;
  font-family: 'Cabin Sketch', cursive;
  background: none;
  border: 1px solid black;
  color: white;
  padding: 5px;
}

#commentsButtonHolder:hover {
  color: tomato;
  background: white;
}
