#header-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: -5;
  background-image: url(../bulletin.jpg);
}

#banana {
  height: 8vh;
  width: 4vw;
}

#siteTitle {
  color: tomato;
  font-size: 5vw;
  font-family: 'Cabin Sketch', cursive;
}
