#header-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: navy;
}

#banana {
  width: 15vw;
}

h1 {
  color: white;
  font-size: 10vw;
  font-family: 'Cabin Sketch', cursive;
}
