#header-container {
  width: 100vw;
  height: 10vh;
  display: flex;
 /* justify-content: space-around;*/
  align-items: center;
  background-color: navy;
}

#banana {
  width: 7vw;
  height: 5vh;
}

h1 {
  color: white;
  font-size: 5vw;
  font-family: 'Cabin Sketch', cursive;
}
