#app-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#main-container {
  height: 80vh;
  width: 100vw;
  overflow: scroll;
  z-index: -1;
}

.sidebar-submit button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
}

.sidebar-submit button:hover {
  background-color: tomato;
}
