#app-container {
  width: 100vw;
  height: 100vh;
  background-image: url(./bulletin.jpg);
  /*background-color: #b2391e;*/
}

#main-container {
  height: 80vh;
  width: 100vw;
  overflow: scroll;
  z-index: -1;
}

