#editCommentContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#editCommentInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#editCommentInput {
  font-size: 1em;
  width: 60vw;
  height: 150px;
  border: 3px solid black;
  border-radius: 1vw;
  text-align: center;
  padding: 1vw;
}

#editCommentButtonsContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editedCommentButtons {
  width: 15vw;
  height: 120px;
  font-family: 'Cabin Sketch', cursive;
  background-color: tomato;
  color: white;
  font-size: 1.5em;
  border-radius: 1vw;
  border: 1px solid black;
}

#returnEditCommmentToTopicButton {

}
