#footer-container {
  width: 100vw;
  height: 0;
  margin: 0;
  background-color: blue;
/*  background-image: url(../bulletin.jpg);*/
}

#footer-container h3 {
  color: tomato;
  margin: 0;
  padding-top: 23px;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  background-image: url(../bulletin.jpg);
  height: 6.5vh;
}

