#footer-container {
  background-image: url(../bulletin.jpg);
  width: 100vw;
  height: 7vh;
  margin: 0;
  z-index: 5;
  text-align: center;
}

#footerText {
  color: tomato;
  margin: 4vh;
/*  margin-left: -6vh;*/
  font-family: 'Cabin Sketch', cursive;
}
