.signup-container {
}

p {
  text-align: center;
}

.sign-button {
  /*display: flex;*/
  /*justify-content: center;*/
}


.sign-button button {
  background-color: #4CAF50;
  border: none;
  color: white;
/*  padding: 10px 30px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
}

.sign-button button:hover {
  background-color: tomato;
}
