#signup-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#signupTitle {
  width: 100%;
  text-align: center;
}

.signup-css {
  width: 60%;
  text-align: center;
}

#signup-form-container h2 {
  margin-top: 5vh;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  color: tomato;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#signup-form-container button {
  width: 10%;
  background-color: #DEB887;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Cabin Sketch', cursive;
}

#signup-form-container button:hover {
  background-color: #D2B48C;
  color: black;
  font-family: 'Cabin Sketch', cursive;
}

#signup-form-container input[type=text] {
  /*height: 3.5vh;*/
}

#signup-form-container input[type=password] {
  /*height: 3.5vh;*/
}

#signup-form-container input {
  font-family: 'Cabin Sketch', cursive;
}
