#hidden {
  position: absolute;
  right:0;
  background-color: #F5DEB3;
  top: 0;
  width: 0;
  transition: width 1s;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x:hidden;
}

#show {
  position: absolute;
  right: 0;
  background-color: #F5DEB3;
  z-index: 5;
  top: 0;
  width: 30vw;
  height: 100%;
  display: flex;
  transition: width 1s;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x:hidden;
}
